{
  "env": {
    "dev": {
      "dbHost": "0.0.0.0",
      "dbUsername": "root",
      "dbPassword": "mypass",
      "dbName": "kambing",
      "baseUrl": "http://127.0.0.1:8000"
    },
    "prod": {
      "dbHost": "0.0.0.0",
      "dbUsername": "root",
      "dbPassword": "mypass",
      "dbName": "kambing",
      "baseUrl": "http://127.0.0.1:8000"
    }
  }
}
