{
  "env": {
    "dev": {
      "dbHost": "0.0.0.0",
      "dbUsername": "root",
      "dbPassword": "mypass",
      "dbName": "kambing",
      "baseUrl": "http://127.0.0.1:8000",
      "loginPassword": "mypass",
      "appSecret": "base64:S96eg88gQT6NmOzC5EHtn9VY8GzkwRHX5pOiiQh50LE="
    },
    "prod": {
      "dbHost": "0.0.0.0",
      "dbUsername": "root",
      "dbPassword": "mypass",
      "dbName": "kambing",
      "baseUrl": "http://127.0.0.1:8000",
      "loginPassword": "mypass",
      "appSecret": "base64:S96eg88gQT6NmOzC5EHtn9VY8GzkwRHX5pOiiQh50LE="
    }
  }
}
